@model Synchronized.ViewModel.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    ViewBag.maxPage = Math.Max(ViewBag.maxPage, Model.Questions.PageIndex);
}

@{
    var counter = 1;
    foreach (var item in Model.Questions)
    {
        <div class="app-question-link row">
            <div class="app-data app-question-points col-sm-2">
                <div class="app-points">
                    <h4>@item.Points</h4><i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="app-data col-sm-8">
                <div class="app-question-title">    
                    <h3><a asp-controller="Questions" asp-action="Details/${item.Id}">@item.Title</a></h3>
                    @*<h3>@Html.ActionLink(item.Title, "Details/" + item.Id, "Questions")</h3>*@
                    <div class="app-labels">
                        @{
                            var first = true;
                            var tagNames = "";
                            var name = "tags-" + counter;
                            counter++;
                            foreach (var questionTag in item.QuestionTags)
                            {
                                if (!first)
                                {
                                    tagNames += "," + questionTag.Tag.Name;
                                }
                                else
                                {
                                    tagNames += questionTag.Tag.Name;
                                    first = false;
                                }
                            }
                            first = true;
                        }
                        <input class="app-tags" name=@name id=@name value=@tagNames />
                    </div>
                </div>
            </div>
            <div class="app-data app-question-status col-sm-2">
                @if (item.Answers == null || item.Answers.Count() == 0)
                {
                    <img src="~/Content/images/x_mark_grey.png" />
                }
                else if (item.Answered())
                {
                    <img src="~/Content/images/GreenV.png" />
                }
                else
                {
                    <img src="~/Content/images/YellowV.png" />
                }
            </div>
        </div>
        }
}                       

@{
    var prevDisabled = !Model.Questions.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Questions.HasNextPage ? "disabled" : "";
    var maxPages = 7;
}
<a asp-action="Index"
   asp-route-page="@(Model.Questions.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@for (var i = 1; i <= ViewBag.maxPage && i <= maxPages; i++)
{
    <a asp-action="Index"
       asp-route-pageNumber="@i"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-page="@(Model.Questions.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>