@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Message"] = "Welcome!";
    ViewData["CurrentPage"] = "/Index";
}

@{
    var counter = 1;
    foreach (var item in Model.Questions)
    {
        <div class="app-question-link row">
            <div class="app-data app-question-points col-sm-2">
                <div class="app-points">
                    <h4>@item.Points</h4><i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="app-data col-sm-8">
                <div class="app-question-title">
                    <h3><a asp-page="/Questions/Details/@item.Id">@item.Title</a></h3>
                    <div class="app-labels">
                        @{
                            var first = true;
                            var tagNames = "";
                            var name = "tags-" + counter;
                            counter++;
                            foreach (var questionTag in item.QuestionTags)
                            {
                                if (!first)
                                {
                                    tagNames += "," + questionTag.Tag.Name;
                                }
                                else
                                {
                                    tagNames += questionTag.Tag.Name;
                                    first = false;
                                }
                            }
                            first = true;
                        }
                        <input class="app-tags" name=@name id=@name value=@tagNames />
                    </div>
                </div>
            </div>
            <div class="app-data app-question-status col-sm-2">
                @if (item.Answers == null || item.Answers.Count() == 0)
                    {
                        <img src="~/Content/images/x_mark_grey.png" />
                    }
                    else if (item.Answered())
                    {
                        <img src="~/Content/images/GreenV.png" />
                    }
                    else
                    {
                        <img src="~/Content/images/YellowV.png" />
                    }
            </div>
        </div>
    }
}

@{
    var prevDisabled = !Model.Questions.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Questions.HasNextPage ? "disabled" : "";
}
<a asp-page="/Index" asp-route-pageNumber="@(Model.Questions.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@*TODO: Add the "maxPages" with a setter and getter to the Questions page object*@
@for (var i = 1; i <= Model.CurrentPage; i++)
{
    <a asp-page="/Index" asp-route-pageNumber="@i" 
       class="btn btn-default">
        @i
    </a>
}
<a asp-page="/Index" asp-route-pageNumber="@(Model.Questions.PageIndex + 1)" 
   class="btn btn-default">
    Next
</a>
