@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome!";
    ViewData["CurrentPage"] = "/Index";
}

@{
    var counter = 1;
    foreach (var item in Model.Questions)
    {
        <article class="row synched-home-content">
            <div class="col-md-3">
                <h4>@item.Points</h4>
                <h5>pts</h5>
            </div>
            <div class="col-md-8">
                <div class="synched-question-title">
                    <h4><a asp-page="/Questions/Details" asp-route-id="/@item.Id">@item.Title</a></h4>
                </div>
                <div class="synched-tags">
                    @{
                        var first = true;
                        var tagNames = "";
                        var name = "tags-" + counter;
                        counter++;
                        foreach (var questionTag in item.QuestionTags)
                        {
                            if (!first)
                            {
                                tagNames += "," + questionTag.Tag.Name;
                            }
                            else
                            {
                                tagNames += questionTag.Tag.Name;
                                first = false;
                            }
                        }
                        first = true;
                    }
                    <input class="synched-tags" name=@name id=@name value=@tagNames />
                </div>
            </div>
            <div class="col-md-1">
                @if (item.Answers == null || item.Answers.Count() == 0)
                {
                    <img src="~/pictures/x_mark_grey.png" height="30"/>
                }
                else if (item.Answered())
                {
                    <img src="~/pictures/GreenV.png" height="40"/>
                }
                else
                {
                    <img src="~/pictures/YellowV.png" height="40"/>
                }
            </div>
        </article>
    }
}

@{
    var prevDisabled = !Model.Questions.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Questions.HasNextPage ? "disabled" : "";
}
<a asp-page="/Index" asp-route-pageNumber="@(Model.Questions.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@*TODO: Add the "maxPages" with a setter and getter to the Questions page object*@
@for (var i = 1; i <= Model.CurrentPage; i++)
{
    <a asp-page="/Index" asp-route-pageNumber="@i" 
       class="btn btn-default">
        @i
    </a>
}
<a asp-page="/Index" asp-route-pageNumber="@(Model.Questions.PageIndex + 1)" 
   class="btn btn-default @nextDisabled">
    Next
</a>

@section Scripts {
    <script src="~/js/questions.js" asp-append-version="true"></script>
}