@page
@model IndexModel
@{
    ViewData["Title"] = "Users";
}

@{
    var modelArray = Model.Users.ToArray();
    var counter = 0;
    var j = 1;
    //string tagsInputName = "";
    while (counter < modelArray.Length)
    {
        <div class="row">
            @{
                for (int i = 0; i < 4; i++)
                {
                    if (counter < modelArray.Length)
                    {
                        <div class="col-md-3">
                            <article>
                                <div class="card synched-user-card">
                                    <div class="card-header"></div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item app-usercard-item">
                                            <img class="app-user-image" src="@modelArray[counter].ImageUri" alt="user image" />
                                            <div class="user-header-details">
                                                <h5><a href="/Users/Details/@modelArray[counter].Id">@modelArray[counter].Name</a></h5>
                                                <p>@modelArray[counter].Address</p>
                                            </div>
                                        </li>
                                        <li class="list-group-item app-usercard-item">
                                            <div>@modelArray[counter].Points</div>
                                            <div>label1 label2 label3</div>
                                        </li>
                                    </ul>
                                    <div class="card-footer"></div>
                                </div>
                            </article>
                        </div>
                        counter++;
                    }
                }
            }
        </div>
    }
}   

@{
    var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";
}
<a asp-page="/Users/Index" asp-route-pageNumber="@(Model.Users.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@*TODO: Add the "maxPages" with a setter and getter to the Questions page object*@
@for (var i = 1; i <= Model.CurrentPage; i++)
{
    <a asp-page="/Users/Index" asp-route-pageNumber="@i"
       class="btn btn-default">
        @i
    </a>
}
<a asp-page="/Users/Index" asp-route-pageNumber="@(Model.Users.PageIndex + 1)"
   class="btn btn-default">
    Next
</a>

@section Scripts {
    <script src="~/js/users.js"></script>
}