@page "{id}"

@using Microsoft.AspNetCore.Identity
@using Synchronized.Domain
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model Synchronized.WebApp.Pages.Questions.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<script>
    var questionId = @Html.Raw(Json.Serialize(Model.Question.Id));
    var question = @Html.Raw(Json.Serialize(Model.Question));
    var questionViewModel = new PostViewModel(@Html.Raw(Json.Serialize(Model.Question)));
</script>
<section class="app-question">
    <h2>@Html.DisplayFor(model => model.Question.Title)</h2>
    <div class="row" id="@Model.Question.Id">
        <div class="app-stats col-md-1">
            <div class="synched-points">
                @Html.DisplayFor(model => model.Question.Points)
            </div>
            <div class="synched-vote-buttons">
                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="synched-vote-btn vote-up-btn"><i class="fa fa-plus-square"></i></button>
                    <button class="synched-vote-btn vote-down-btn"><i class="fa fa-minus-square"></i></button>
                }
                else
                {
                    <button class="synched-vote-btn synched-action"><i class="fa fa-plus-square"></i></button>
                    <button class="synched-vote-btn synched-action"><i class="fa fa-minus-square"></i></button>
                }
                
            </div>
        </div>
        <div id="question-content" class="col-md-10">
            <div class="app-qcontent">
                <div class="app-content-data">
                    @Html.Raw(Model.Question.Body)
                </div>
            </div>
            <div class="question-tags">
                <input class="synched-tags" name="tags" id="tags" value=@Model.Question.Tags />
            </div>
            <div class="synched-meta">
                <a href="/Users/Details/@Model.Question.PublisherId" class="details-publisher-link">@Model.Question.PublisherName</a>
                @Html.DisplayFor(model => model.Question.DatePosted)
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="synched-q-options">
                    <a asp-page="/Questions/Edit" asp-route-id="@Model.Question.Id" class="btn btn-link synched-edit-comment">Edit</a>
                    <button type="button" class="btn btn-link synched-flag">Flag</button>
                    <button type="button" class="btn btn-link synched-delete">Delete</button>
                </div>
            }
            else
            {
                <a asp-page="/Account/Login" class="btn btn-link">Edit</a>
                <a asp-page="/Account/Login" class="btn btn-link">Flag</a>
                <a asp-page="/Account/Login" class="btn btn-link">Delete</a>
            }
            @if (Model.Question.Comments != null && Model.Question.Comments.Count() > 0)
            {                
                <div class="synched-comments">
                    @foreach (var comment in Model.Question.Comments)
                    {
                        <hr />
                        <div class="comment-content" id="@comment.Id">
                            <div class="comment-body">@comment.Body</div>
                            <div class="synched-edit-comment-form">
                                <div class="form-group">
                                    <textarea class="form-control edit-comment-body" rows="2"></textarea>
                                </div>
                            </div>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <button type="button" class="btn btn-link synched-edit-comment">Edit</button>
                                <button type="button" class="btn btn-link synched-delete-comment">Delete</button>
                                <button type="button" class="btn btn-link synched-update-comment">Update</button>
                            }
                            else
                            {
                                <a asp-page="/Account/Login" class="btn btn-link">Edit</a>
                                <a asp-page="/Account/Login" class="btn btn-link">Delete</a>
                            }
                            <div class="synched-meta">
                                <a href="/Users/Details/@comment.PublisherId" class="details-publisher-link">@comment.PublisherName</a>                                
                                @comment.DatePosted
                            </div>
                        </div>
                    }
                </div>                
            }
            else
            {
                <hr />
            }
            @if (SignInManager.IsSignedIn(User))
            {
                <button type="button" class="btn btn-link synched-comment">Leave a comment</button>
            }
            else
            {
                <button type="button" class="btn btn-link synched-action">Leave a comment</button>
            }            
            <div class="synched-comment-form">
                <div class="form-group">
                    <textarea class="form-control comment-body" rows="2"></textarea>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Question.Answers.Count != 0)
    {
        <div class="synched-message-container">
            <div class="synched-message answers-header">@Html.DisplayNameFor(model => model.Question.Answers)</div>
        </div>
    }
    <div id="synched-answers">
        @{ 
            int counter = 1;
            foreach (var answer in Model.Question.Answers)
            {
            <div class="row synched-answer" id="@answer.Id">
                <div class="app-stats col-md-1">
                    @if (answer.Accapted)
                    {
                        <div id="accapted" class="answer-number">@counter.</div>
                        <img src="~/pictures/GreenV.png" height="30" />
                    }
                    else
                    {
                        <div class="answer-number">@counter.</div>
                    }                    

                    @{ counter++; }
                    <div class="synched-points">@answer.Points</div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button class="synched-vote-btn vote-up-btn"><i class="fa fa-plus-square"></i></button>
                        <button class="synched-vote-btn vote-down-btn"><i class="fa fa-minus-square"></i></button>
                    }
                    else
                    {
                        <button class="synched-vote-btn synched-action"><i class="fa fa-plus-square"></i></button>
                        <button class="synched-vote-btn synched-action"><i class="fa fa-minus-square"></i></button>
                    }
                </div>
                <div class="col-md-10">
                    <div>@Html.Raw(answer.Body)</div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if ((!Model.Question.IsAnswered) && !String.IsNullOrWhiteSpace(Model.UserId) && (Model.UserId.Equals(Model.Question.PublisherId)))
                        {
                            <button type="button" class="btn btn-link synched-accept">Accept Answer</button>
                        }
                        <a asp-page="/Questions/Edit" asp-route-id="@answer.Id" class="btn btn-link synched-edit-comment">Edit</a>
                        <button type="button" class="btn btn-link synched-flag">Flag</button>
                        <button type="button" class="btn btn-link synched-delete">Delete</button>
                    }
                    else
                    {
                        @if (!Model.Question.IsAnswered)
                        {
                            <a asp-page="/Account/Login" class="btn btn-link">Accept Answer</a>
                        }
                        <a asp-page="/Account/Login" class="btn btn-link">Edit</a>
                        <a asp-page="/Account/Login" class="btn btn-link">Flag</a>
                        <a asp-page="/Account/Login" class="btn btn-link">Delete</a>
                    }

                    <div class="synched-meta">
                        <a href="/Users/Details/@answer.PublisherId" class="details-publisher-link">@answer.PublisherName</a>                                
                        @answer.DatePosted
                    </div>
                    @if (answer.Comments != null && answer.Comments.Count() > 0)
                    {
                        <div class="synched-comments">
                            @foreach (var comment in answer.Comments)
                            {
                                <div class="comment-content" id="@comment.Id">
                                    <hr />
                                    <div class="comment-body">@comment.Body</div>
                                    <div class="synched-edit-comment-form">
                                        <div class="form-group">
                                            <textarea class="form-control edit-comment-body" rows="2"></textarea>
                                        </div>
                                    </div>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <button type="button" class="btn btn-link synched-edit-comment">Edit</button>
                                        <button type="button" class="btn btn-link synched-delete-comment">Delete</button>
                                        <button type="button" class="btn btn-link synched-update-comment">Update</button>
                                    }
                                    else
                                    {
                                        <a asp-page="/Account/Login" class="btn btn-link">Edit</a>
                                        <a asp-page="/Account/Login" class="btn btn-link">Delete</a>
                                    }
                                    <div class="synched-meta">
                                        <a href="/Users/Details/@comment.PublisherId" class="details-publisher-link">@comment.PublisherName</a>                                
                                        @comment.DatePosted
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <hr />
                    }   
                    @if (Model.Question.Answers.Count > 0)
                    {
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button type="button" class="btn btn-link synched-comment">Leave a comment</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-link synched-action">Leave a comment</button>
                        }                        
                        <div class="synched-comment-form">
                            <div class="form-group">
                                <textarea class="form-control comment-body" rows="2"></textarea>
                            </div>
                        </div>
                    }  
                </div>
            </div>
            <hr />
            }
        }      
    </div>

    @if (SignInManager.IsSignedIn(User))
    {
        <form method="POST" id="synched-answer" asp-route-id="@Model.Question.Id">
            <div class="answer-header-container">
                <div class="synched-message answers-header">Your answer</div>
            </div>
            <div class="form-group">
                <textarea asp-for="Answer.Body"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    }
    else
    {
        <form method="GET" asp-page="/Account/Login" id="synched-answer">
            <div class="answer-header-container">
                <div class="synched-message answers-header">Your answer</div>
            </div>
            <div class="form-group">
                <textarea></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    }
</section>

@section Styles {
    <link href="~/lib/jQuery-TE_v.1.4.0/jquery-te-1.4.0.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/jQuery-TE_v.1.4.0/uncompressed/jquery-te-1.4.0.js"></script>
    <script src="~/lib/jquery-dateFormat-1.0.2/date-format.js"></script>
    <script src="~/js/details.js"></script>
}