@page "{id}"
@model Synchronized.WebApp.Pages.Questions.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<script>
    var questionId = @Html.Raw(Json.Serialize(Model.Question.Id));
    var question = @Html.Raw(Json.Serialize(Model.Question));
    var questionViewModel = new PostViewModel(@Html.Raw(Json.Serialize(Model.Question)));
</script>
<section class="app-question">
    <h2>@Html.DisplayFor(model => model.Question.Title)</h2>
    <div class="row" id="@Model.Question.Id">
        <div class="app-stats col-md-1">
            <div class="synched-points">
                @Html.DisplayFor(model => model.Question.Points)
            </div>
            <div class="synched-vote-buttons">
                <button class="synched-vote-btn vote-up-btn"><i class="fa fa-plus-square"></i></button>
                <button class="synched-vote-btn vote-down-btn"><i class="fa fa-minus-square"></i></button>
            </div>
        </div>
        <div id="question-content" class="col-md-10">
            <div class="app-qcontent">
                <div class="app-content-data">
                    @Html.Raw(Model.Question.Body)
                </div>
            </div>
            @*<a class="flex-sm-fill text-sm-center nav-link" asp-page="/Questions/Index" asp-route-sortOrder="@Model.DateSort">Date posted</a>*@
            <a asp-page="/Questions/Edit" asp-route-id="@Model.Question.Id" class="btn btn-link synched-edit">Edit</a>
            <button type="button" class="btn btn-link synched-flag">Flag</button>
            <button type="button" class="btn btn-link synched-delete">Delete</button>
            <div class="synched-meta">
                @Html.DisplayFor(model => model.Question.PublisherName)
                @Html.DisplayFor(model => model.Question.DatePosted)
            </div>
            @if (Model.Question.Comments != null && Model.Question.Comments.Count() > 0)
            {                
                <div class="synched-comments">
                    @foreach (var comment in Model.Question.Comments)
                    {
                        <hr />
                        <div class="comment-content" id="@comment.Id">
                            <div>@comment.Body</div>
                            <button type="button" class="btn btn-link synched-edit">Edit</button>
                            <button type="button" class="btn btn-link synched-delete">Delete</button>
                            <div class="synched-meta">
                                @comment.PublisherName
                                @comment.DatePosted
                            </div>
                        </div>
                    }
                </div>                
            }
            else
            {
                <hr />
            }
            <button type="button" class="btn btn-link synched-comment">Leave a comment</button>
            <div class="synched-comment-form">
                <div class="form-group">
                    <textarea class="form-control comment-body" rows="2"></textarea>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Question.Answers.Count != 0)
    {
        <div class="synched-message-container">
            <div class="synched-message answers-header">@Html.DisplayNameFor(model => model.Question.Answers)</div>
        </div>
    }
    <div id="synched-answers">
        @{ 
            int counter = 1;
            foreach (var answer in Model.Question.Answers)
            {
            <div class="row synched-answer" id="@answer.Id">
                <div class="app-stats col-md-1">
                    <div class="answer-number">@counter.</div>
                    @{ counter++; }
                    <div class="synched-points">@answer.Points</div>
                    <button class="synched-vote-btn vote-up-btn"><i class="fa fa-plus-square"></i></button>
                    <button class="synched-vote-btn vote-down-btn"><i class="fa fa-minus-square"></i></button>
                </div>
                <div class="col-md-10">
                    <div>@Html.Raw(answer.Body)</div>
                    <button type="button" class="btn btn-link synched-accept">Accept Answer</button>
                    <button type="button" class="btn btn-link synched-edit">Edit</button>
                    <button type="button" class="btn btn-link synched-flag">Flag</button>
                    <button type="button" class="btn btn-link synched-delete">Delete</button>
                    <div class="synched-meta">
                        @answer.PublisherName
                        @answer.DatePosted
                    </div>
                    @if (answer.Comments != null && answer.Comments.Count() > 0)
                    {
                        <div class="synched-comments">
                            @foreach (var comment in answer.Comments)
                            {
                                <div class="comment-content" id="@comment.Id">
                                    <hr />
                                    <div>@comment.Body</div>
                                    <button type="button" class="btn btn-link synched-edit">Edit</button>
                                    <button type="button" class="btn btn-link synched-delete">Delete</button>
                                    <div class="synched-meta">
                                        @comment.PublisherName
                                        @comment.DatePosted
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <hr />
                    }   
                    @if (Model.Question.Answers.Count > 0)
                    {
                        <button type="button" class="btn btn-link synched-comment">Leave a comment</button>
                        <div class="synched-comment-form">
                            <div class="form-group">
                                <textarea class="form-control comment-body" rows="2"></textarea>
                            </div>
                        </div>
                    }  
                </div>
            </div>
            <hr />
            }
        }      
    </div>

    <form method="POST" id="synched-answer" asp-route-id="@Model.Question.Id">
        <div class="answer-header-container">
            <div class="synched-message answers-header">Your answer</div>
        </div>
        <div class="form-group">
            <textarea asp-for="Answer.Body"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</section>

@section Styles {
    <link href="~/lib/jQuery-TE_v.1.4.0/jquery-te-1.4.0.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/jQuery-TE_v.1.4.0/uncompressed/jquery-te-1.4.0.js"></script>
    <script src="~/lib/jquery-dateFormat-1.0.2/date-format.js"></script>
    <script src="~/js/details.js"></script>
}